<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>NanoBio Lab</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://www.cecs.ucf.edu/faculty/needa-brown/">UCF Profile</a></li>					
					<li><a href="https://scholar.google.com/citations?user=1kcWNnMAAAAJ&hl=en">Google Scholar</a></li>
					<li><a href="https://www.linkedin.com/in/needa-brown-a7a66257/">LinkedIn</a></li>
					<li><a href="https://github.com/needabrown/nanobio">Github Repository</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>Address: 6900 Lake Nona Blvd, BBS 457, Orlando, FL 32827</p>
				<p>Email: <a href="mailto:needa.brown@ucf.edu">needa.brown@ucf.edu</a></p>
				<p>Phone: <a href="tel:407-266-7138">407-266-7138</a></p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">&copy Copyright 2024 Needa Brown</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
